* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
 
}

body {
  background-color:white; 
	background: radial-gradient(ellipse at center, rgb(247, 236, 236) 0%, rgb(151, 53, 53) 100%);
  margin: 0;
  font-family: Arial, sans-serif;

}

#stars canvas {
	display: block;
	position: relative;
	width: 100%;
	height: 16rem;
	height: 100vh;
	z-index: 1;
}

.app {
  height: 100vh; /* Set height to 100% of viewport height */
}

.studio {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jose {
  width: 100%;
  height: 100vh;
  --s: 50px;
    --c: #191b22;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%,#20222a 68% 70%,#0000 72%;
    background: 
      radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
      radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
      radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
      radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
      repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
      radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
    background-attachment: fixed;
}

#stars canvas {
  height: 100vh;
}

.moon img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.jose h1 {
  padding-top: 10px;
  color: #d4e7f6;
  text-align: center;
}
.moon img {
  z-index: -50;
}
.studio img {
  position: absolute;
  width: 300px;
  margin-right: 400px;
  transform: translate(-720px, 440px);
}

.mailbox img {
  position: absolute;
  width: 100px;
  transform: translate(500px, 600px);
}

.container {
  display: flex;
  padding: 0 6rem;
  
}

.column {
  flex: 1;
  margin-right: 20px;
  margin-top: 50px;
}

.column:last-child {
  margin-right: 0;
}

/* Adjust spacing between rows */


/* Adjust component layout */
.books,
.speaker,
.tv,
.profile,
.picture,
.message,
.work,
.games {
z-index: -10;
}

img {
  width: 200px;
}

.books img {
  margin-bottom: 30px;
  transition: transform 0.3s ease;
}

.books img:hover {
  transform: scale(1.1); /* Increase size on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}
.speaker img {
  transition: transform 0.3s ease;
}

.speaker img:hover {
  transform: scale(1.1); /* Increase size on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}
.picture img {
  transition: transform 0.3s ease;
}

.picture img:hover {
  transform: scale(1.1); /* Increase size on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}
.games img {
  margin-bottom: 30px;
  transition: transform 0.3s ease;
}

.games img:hover {
  transform: scale(1.1); /* Increase size on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}
.message img {
  margin-bottom: 30px;
  transition: transform 0.3s ease;
}

.message img:hover {
  transform: scale(1.1); /* Increase size on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}
.work img {
  margin-bottom: 30px;
  transition: transform 0.3s ease;
}

.work img:hover {
  transform: scale(1.1); /* Increase size on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.tv img {
  width: 400px;
  position: absolute;
  bottom: 0;
}

.profile img {
  width: 350px;
  position: absolute;
  bottom: 0;
  margin-left: 100px;
  transition: transform 0.3s ease;
}

.profile img:hover {
  cursor: pointer; /* Change cursor to pointer on hover */
}

.message img {
  width: 80px;
  margin-left: 70px;
  padding-bottom: 150px;
}

.picture img {
  width: 150px;
  
}

.picture {
  transform: translateY(200px);
}

.games img {
  margin-bottom: 30px;
}

.window img{
  margin-top: 50px;
width: 350px;
}


.modal-overlay {
  position: absolute;
  left: 0;
  top: 0;
  /* top: 0; */
  /* transform: translate(250px, -500px); */
  /* left: 10; */
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  z-index: 999; /* Ensure modal is at the front */
}

.modal {
  color: antiquewhite;
  background: rgb(21,6,43);
  background: linear-gradient(90deg, rgba(21,6,43,1) 0%, rgba(34,34,120,1) 58%, rgba(58,69,122,1) 100%);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.5s ease forwards; /* Fade-in animation */
  margin-bottom: 20px;
  z-index: 2;
}


.modal.work-modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  max-width: 30%; /* Set maximum width for the modal */
  max-height: 59%;
  margin-top: 200px;
  margin-left: 750px;
  overflow: auto; /* Enable scrolling if content exceeds modal height */
}

.modal.work-modal h2 {
  margin-bottom: 50px;
}

.modal.picture-modal {
  max-width: 500px;
  max-height: 500px;
  overflow: auto;
  margin-bottom: 200px;
  margin-left: 950px;
}

.modal.profile-modal {
  margin-left: 750px;
}

.modal.book-modal {
  margin-top: 300px;
  margin-left: 200px;
  margin-bottom: 800px;
}

.modal.message-modal {
  margin-left: 900px;
  margin-bottom: 200px;
  width: 500px;
}

.speaker-modal {
  left: 0;
  width: 300px; /* Adjust modal width as needed */
  padding: 30px 20px;
  border-radius: 10px;
  transform: translate(200px, -400px);
}

.modal.game-modal {
  max-width: 700px;
  margin-left: 600px;
  height: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.close-btn {
  width: 2rem;
  height: 2rem;
  border: 1px solid white;
  border-radius: 100rem;
background: transparent;
  color: inherit;
  font-size: 1rem;
  margin-top: 5px;
  top: 0;
  right: 0;
  position: absolute;
  right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
}

.close-btn::before {
  content: 'x';
  transform: translateY(-.1rem);
}

.close-btn:hover,
.close-btn:focus {
  background: whitesmoke;
  cursor: pointer;
  border-color: var(--focus);
  transform: translateY(-.2rem);
}

.modal-content {
  text-align: center;
}

.book-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.book {
  margin: 10px;
}

.book img {
  width: 100px;
  height: 150px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.book img:hover {
  transform: scale(1.1);
}

.book p {
  margin-top: 5px;
}

/* Add styling for Spotify iframe */
.modal-content iframe {
  border-radius: 5px;
}

.profile-image img {
  width: 150px;
  height: auto;
  border-radius: 50%;
}

.profile-info {
  text-align: left;
}

.profile-info p {
  padding: 10px 10px;
}

.profile .label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.label {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 5px;
  color: #333;
  font-weight: bold;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile:hover .label {
  opacity: 1;
}

.books:hover .label {
  opacity: 1;
}
.games:hover .label {
  opacity: 1;
}
.speaker:hover .label {
  opacity: 1;
}
.work:hover .label {
  opacity: 1;
}
.message:hover .label {
  opacity: 1;
}
.picture:hover .label {
  opacity: 1;
}

.picture img {
  position: absolute;
}

.profile-bio {
  display: none;
}

.profile:hover .profile-bio {
  display: block;
}

.skills {
  margin-top: 20px;
}

.skill {
  margin: 10px 10px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.skill-details img {
  width: 30px;
  margin-right: 10px;
}

.progress-bar-container {
  width: 60px;
  height: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #6c5ce7;
  transition: width 0.5s ease;
}

.percentage {
  margin-left: 10px;
  font-weight: bold;
  text-align: center;
}

.social-links {
  text-align: center;
}
.social-links h3{
  padding-bottom: 10px;
}

.social-link a{
  color: rgb(49, 92, 107);
  font-size: 1.5rem;
  letter-spacing: 10px;
  margin: 10px 10px;
}

.modal-content {
  
}
.project-category {
  margin-bottom: 20px;
}

.project-category h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.project {
  display: flex;
  margin-bottom: 10px;
}

.project img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin-right: 10px;
}

.project-details h4 {
  margin-bottom: 5px;
  font-size: 1.1em;
}

.project-details p {
  margin: 0;
}

.modal-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.message-form {
  max-width: 400px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-weight: bold;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-textarea {
  height: 150px;
}

.form-submit {
  padding: 10px 20px;
  background-color: #6c5ce7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-submit:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.form-message {
  margin-top: 10px;
  color: #555;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.game-card {
  width: calc(17% - 10px); /* Adjust width to fit 4 cards per row with spacing */
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.game-image {
  width: 100%;
  height: 150px; /* Set a fixed height for consistent card height */
  object-fit: cover; /* Maintain aspect ratio and fill container */
}

.game-details {
  padding: 10px;
  background-color: #f5f5f5;
}

.console-logo {
  width: 20px;
  height: 20px;
  margin-right: 3px; /* Add margin between console logo and console name */
}

.console-name {
  font-size: 10px;
  font-weight: bold;
}

.game-title {
  margin-top: 5px;
  font-size: 7px;
  font-weight: bold;
  text-align: center;
}

.console-info {
  display: flex;
}


/* Media query for smaller screens */
@media (max-width: 768px) {
  .project {
    width: 100%; /* Display one project per row on smaller screens */
  }
}

.project-details h4 {
  margin-bottom: 5px;
}

.project-details p {
  color: #555;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .modal {
    max-width: 90%;
  }

  .project img {
    width: 80px;
    height: 80px;
  }
}

/* For smaller screens */
@media (max-width: 768px) {
  .container {
    padding: 0 1rem; /* Adjust padding for smaller screens */
    flex-direction: column; /* Stack columns vertically */
  }

  .column {
    margin-right: 0; /* Remove right margin for columns */
    margin-top: 20px; /* Adjust top margin for columns */
  }

  .books img,
  .speaker img,
  .picture img,
  .message img,
  .work img,
  .games img,
  .profile img {
    width: 100%; /* Make images fill their container */
    max-width: 100%; /* Ensure images don't exceed their container */
    height: auto; /* Maintain aspect ratio */
  }

  .modal {
    max-width: 100%; /* Adjust maximum width for modals */
    /* margin-left: 10px; Center modals horizontally */
    /* margin-right: auto; */
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack columns vertically */
  }

  .column {
    margin-right: 0; /* Remove right margin for columns */
    margin: 0;
  }
.app h1 {
  font-size: 1.2rem;
  margin-left: 180px;
  z-index: -5;
  position: relative;
}

body {
  position: absolute;
}
  .side-nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background: #333;
  }
  .side-nav img {
    width: 50px; /* Adjust width of navigation images */
    margin: 0;
    padding: 0;
    /* z-index: 10; */
  }
  .modal-overlay {
    position: absolute;
    margin: 0;
    width: 500px;
  }
  .modal.book-modal {
    margin-bottom: 400px;
    margin-right: 200px;
    width: 500px !important;
  }

  .modal.profile-modal {
    margin: 10px 250px;
  }

  .modal.picture-modal {
    margin: 10px 170px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
  }

  .picture-modal img {
    width: 50%;
  }

  .modal.message-modal {
    margin: 10px 170px;
  }

  .modal.game-modal {
    margin: 10px 170px;
    width: 400px;
    height: 500px;
  }

  .modal.work-modal {
    margin: 10px 170px;
    max-width: 100%;
    width: 450px;
    height: 700px;
  }

  .project-category {
    padding-bottom: 50px;
  }

  .modal {
    max-width: 100%; /* Adjust maximum width for modals */
    max-height: 80%;
    margin: 0;
    position: absolute;
    left: 0;
  }

  .picture {
    transform: translateY(0);
  }


  .profile img {
    position: relative;
    margin: 0 !important;
    left: 0;
  }
  .tv img {
    position: relative;
  }
  
}
